body {
    font-family: "Montserrat";
    text-align: center;
}

/* Heading */

h1, h2, h3 {
    font-family: 'Montserrat Black', sans-serif;
}

h1 {
    font-size: 3.5rem;
    line-height: 1.5;
    color: white;
}

#title {
    background-color: #ff4c68;
    text-align: left;
}

.container-fluid {
    padding: 3% 15%;
}

/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem 0;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat Light";
}

/* Download Button */

.downloadButton {
    margin: 5% 3% 5% 0;
}

/* Title Image */

.titleImage {
    position: absolute;
    right: 30%;
    width: 60%;
    transform: rotate(25deg);
}

/* Features */

#features {
    position: relative;
    padding: 7% 15%;
    background-color: white;
}

.featuresHolder {
    padding: 5%;
    text-align: center;
}

.featuresHolder:hover {
    border: 2px solid lightskyblue;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

.featuresHolder h3 {
    font-family: "Montserrat Black";
}

/* Testimonial Section */

#testimonials {
    background-color: #ef8172;
    color: #fff;
}

.carousel-item {
    padding: 7% 15%;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.pressLogo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* price */

#pricing {
    padding: 100px;
}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}


.pricing-column {
    padding: 3% 2%;
}

/* Call to Action */

#cta {
    background-color: #ff4c68;
    padding: 7% 15%;
}

.bottom-text {
    color: white;
    padding: 1rem;
    font-size: 2rem;
}

.bottom-button {
    margin: 1%;
}

/* footer */

#footer {
    margin-top: 1rem;
}

.bottom-icons {
    margin: 1%;
}


@media (max-width: 1028px) {
    #title {
        text-align: center;
    }
    .titleImage {
        position: static;
        transform: rotate(0);
    }
}
